{{/*
  Based on a technique I found here:
  https://github.com/MunifTanjim/minimo/blob/master/layouts/partials/data/title
*/}}
{{ $title := ( .Title ) }}
{{ $siteTitle := ( .Site.Title ) }}
{{ $sep := ( .Site.Params.seo.titleSeparator | default "-" ) }}
{{ $title404 := ( .Site.Params.title404 | default $title ) }}

{{ if .IsHome }}
  {{ $siteTitle }}
{{ else if eq .Kind "404" }}
  {{ $title404 }} {{ $sep }} {{ $siteTitle }}
{{ else if ( or .IsNode ( eq .Section "page" ) ) }}
  {{ $title }} {{ $sep }} {{ $siteTitle }}
{{ else }}
  {{ $title }} {{ $sep }} {{ $siteTitle }}
{{ end }}
