@import "./css/bulma/bulma.sass";

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

html {
  height: 100vh;
}

#wrapper {
  flex: 1;
  overflow-y: auto;
}

#hero .content a,
#hero .content a:hover {
  color: hsl(204, 86%, 53%);
}

#about .content a,
#about .content a:hover {
  color: #f5f5f5;
}


.hero a, .hero a:hover {
  text-decoration: underline;
}

a.button,
a.button:hover {
  text-decoration: none;
}

#about ul {
  columns: 2;
}

#certifications h2 {
  color: #f5f5f5;
}

footer .level {
  @include tablet() {
    margin-left: 30rem !important;
    margin-right: 30rem !important;
  }
}

.card {
  display: flex;
  flex-direction: column;
}

.card-footer {
  margin-top: auto
}

.is-fullheight {
  height: 100%
}

.is-photo-card figure img{
  max-width: 500px;
  height: auto;
}

.tags .tag {
  height: auto !important;
}

.card-footer-item {
  margin-bottom: auto !important;
}

.hero-body .media+.media {
  border: none;
}

.footer {
  padding-bottom: 2rem !important;
}

.is-license a {
  display: inline-block;
}

.is-license img {
  height: 22px!important;
  margin-left: 3px;
  vertical-align: text-bottom;
}

.is-gallery-thumb img {
  max-height: 128px;
  max-width: 128px;
  object-fit: cover;
}
