@import "../node_modules/bulma/bulma.sass";

#hero .content a,
#hero .content a:hover {
  color: hsl(204, 86%, 53%);
}

.hero a, .hero a:hover {
  text-decoration: underline;
}

a.button,
a.button:hover {
  text-decoration: none;
}

#about ul {
  columns: 2;
}

#certifications h2 {
  color: #f5f5f5;
}

footer .level {
  @include tablet() {
    margin-left: 30rem !important;
    margin-right: 30rem !important;
  }
}
