{{ if ne .hero_image nil }}
  <section class="hero is-medium has-background">
    {{ $coverPhoto := .hero_image.Resize "x720" }}
    <img alt="" class="hero-background is-transparent is-grayscale"
      src="{{ $coverPhoto.Permalink }} "
    />
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {{ with .context.Params.title_icon }}
            {{ partial "feather-icon.html" . }}
          {{ end }}
          {{ .context.Title }}
        </h1>
        {{ with .context.Params.description }}
          <h2 class="subtitle">
            {{ . }}
          </h2>
        {{ end }}
      </div>
      {{ with .context.Params.header_credit }}
        <p class="is-size-7 hero-credit">
          Header photo by: <a href="{{ .url }}">{{ .name }}</a>
        </p>
      {{ end }}
    </div>
  </section>
{{ else }}
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {{ with .context.Params.title_icon }}
            {{ partial "feather-icon.html" . }}
          {{ end }}
          {{ .context.Title }}
        </h1>
        {{ with .context.Params.description }}
          <h2 class="subtitle">
            {{ . }}
          </h2>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
